@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    overflow: hidden;
}

.App {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.all-movies-img-outer > img {
    border-radius: 10px;
    height: 8vw;
}

.all-movies-list-item, .user-search-item {
    align-items: center;
    border-radius: 5px;
    color: #293241;
    display: flex;
    font-family: 'Maven Pro', sans-serif;
    justify-content: space-between;
    padding: .5vw;
}

.all-movies-list-item:hover, .user-search-item:hover {
    background-color: #3d5a80;
    color: white;
    cursor: pointer;
}

.all-movies-list-item div {
    display: flex;
    justify-content: center;
    width: 20%
}

.all-movies-img-outer {
    width: 10%;
}

#all-movies-title {
    display: flex;
    align-items: left;
    justify-content: left;
}

button {
    background-color: #ee6c4d;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1vw;
    padding: 10px;
}

button:hover {
    background-color: #293241;
}

.carousel-container {
    width: 50vw;
    overflow: hidden;
}

.carousel-img-outer {
    border: 8px solid #293241;
    width: 9vw;
}

.carousel-img {
    border-radius: 5px;
    width: 9vw;
}
 
.change-profile {
    align-items: center;
    background-color: #293241;
    border-top: 5px solid #3d5a80;
    border-bottom: 5px solid #3d5a80;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Maven Pro', sans-serif;
    padding: 20px;
    z-index: 2;
}

.collection-search {
    background-color: rgb(255, 255, 255, 0.7);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: #293241;
    font-family: 'Maven Pro', sans-serif;
    font-size: .8vw;
    padding: 10px;
    text-align: center;
    width: 25vw;
}

#content-container {
    align-items: center;
    background-color: #293241;
    border-top: 5px solid #3d5a80;
    border-bottom: 5px solid #3d5a80;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Maven Pro', sans-serif;
    height: 90vh;
    justify-content: center;
    padding: 20px;
}

#content-container {
    font-size: .8vw;
    width: 55vw;
}

.controls-display-movie {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#display-movie {
    align-items: center;
    background-color: #293241;
    border-top: 5px solid #3d5a80;
    border-bottom: 5px solid #3d5a80;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 2;
    width: 45vw;
}

#display-movie > button:hover {
    background-color: #3d5a80;
}

#display-movie > img {
    border: 2px solid #3d5a80;
    border-radius: 10px;
    height: 45vh;
}

.flex-ctr {
    align-items: center;
    display: flex;
    height: 25vh;
    justify-content: center;
    text-align: right;
}

.flex-ctr label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 20vw;
    line-height: 4vh;
    margin-bottom: 1vh;
}
  
.flex-ctr input {
    height: 2vh;
    margin-left: 1vw;
    background-color: rgb(255, 255, 255, 0.7);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: #293241;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.2vw;
    padding: 10px;
    text-align: center;
}

.form-container {
    align-items: center;
    background-color: #293241;
    border-top: 5px solid #3d5a80;
    border-bottom: 5px solid #3d5a80;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    color: white;
    display: flex;
    font-family: 'Maven Pro', sans-serif;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    width: 40vw;
}

.login-toggle {
    font-size: 2vh;
    height: 6vh;
    width: 10vw;
}

#main-container {
    align-items: top;
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: absolute;
    top: 1%;
}

.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.movie-searchbar {
    background-color: rgb(255, 255, 255, 0.7);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: #293241;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.5vw;
    padding: 10px;
    text-align: center;
    width: 40vw;
}
 
.movie-data-show {
    columns: 3;
}

#movie-search-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#movies-container {
    height: 50vh;
    overflow: auto;
    width: 50vw;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.outer {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 5px;
    color: #293241;
    padding: 10px;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
#profile-container {
    align-items: center;
    background-color: #3d5a80;
    border-top: 5px solid #293241;
    border-bottom: 5px solid #293241;
    border-radius: 20px 0 0 20px;
    color: white;
    display: flex;
    font-family: 'Maven Pro', sans-serif;
    font-size: .9vw;
    font-size: 1.5vh;
    height: 50vh;
    justify-content: center;
    padding: 20px;
}

.profile-img {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.profile-img > img {
    border: 2px solid #293241;
    border-radius: 10px;
    height: 12.8vh;
    object-fit: cover;
    width: 12.8vh;
    max-width: 200px;
}

#profile-stats {
    width: 4vw;
}

.profile-stat-data {
    color: #878787;
}
  
#profile-log-out {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.search-toolbar {
    align-content: center;
    display: flex;
    justify-content: center;
}

.social-tab-container {
    align-items: center;
    background-color: #3d5a80;
    border-top: 5px solid #293241;
    border-bottom: 5px solid #293241;
    border-radius: 0 20px 20px 0;
    display: flex;
    font-family: 'Maven Pro', sans-serif;
    font-size: .9vw;
    font-size: 1.5vh;
    height: 50vh;
    justify-content: center;
    padding: 20px;
}

.social-list {
    height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
}

.spacer {
    height: 10px;
}

.tab-holder {
    align-content: center;
    display: flex;
    justify-content: center;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user-search {
    background-color: rgb(255, 255, 255, 0.7);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: #293241;
    font-family: 'Maven Pro', sans-serif;
    font-size: .8vw;
    font-size: 1.5vh;
    padding: 10px;
    text-align: center;
    width: 8vw;
}

.user-search-profile-pic {
    border-radius: 5px;
    object-fit: cover;
    height: 25px;
}

.outer-user-search-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-search-name-outer {
    width: 80%;
    font-size: .7vw;
    font-size: 1.2vh;
}

.vert-spacer {
    height: 100px;
}

.user-search-button-outer {
    visibility: hidden;
}

.scroll-top-button {
    width: 0;
    visibility: hidden;
}

/* Responsive for phones */
@media screen and (max-width: 1000px) {

body {
    background-color: #3d5a80;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    width: 80vw;
}

.login-toggle {
    height: 4vh;
    width: 30vw;
}

.auth-submit {
    font-size: 4vw;
    width: 30vw;
}

.flex-ctr label {
    width: 80vw;
}

.flex-ctr input {
    margin-left: 10vw;
    font-size: 3vw;
    width: 50vw;
}

#main-container {
    display: block;
    top: 0;
    height: 100%;
    padding: 0;
    width: 100%;
}

#profile-container {
    border-top: 0;
    border-bottom: 0;
    border-radius: 0 0 0 0;
    color: white;
    justify-content: space-around;
    height: auto;
    padding: 10px;
}

.profile-img {
    justify-content: left;
}

.profile-img > img {
    height: 6vh;
    width: 6vh;
}

.profile-data {
    font-size: 2.6vw;
    position: sticky;
    top: 0;
}

.profile-content {
    align-items: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile-stats {
    font-size: 2.5vw;
    height: auto;
    width: 65vw;
}

#profile-stats > ul {
    columns: 2;
}

.carousel-container {
    width: 150vw;
}

#content-container {
    border: 0;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    padding: 0;
    width: auto;
    overflow: hidden;
}

.carousel-img-outer {
    border: 5px solid #293241;
    width: 100%;
}

.carousel-nav-btn {
    visibility: hidden;
}

.navbar {
    width: 95vw;
    justify-content: space-around;
}

button {
    font-size: 2vw;
    width: 15vw;
}

.movie-searchbar {
    font-size: 3vw;
    width: 51vw;
}

.collection-search {
    font-size: 2vw;
    width: 65vw;
}

#movies-container {
    height: auto;
    font-size: 2vw;
    width: 90vw;
}

.all-movies-img-outer > img {
    border-radius: 5px;
    height: 10vw;
}

.vert-spacer {
    height: 0;
}

#display-movie {
    max-width: 100vw;
    font-size: 3vw;
    width: 85vw;
    height: 90vh;
}

#display-movie button {
    font-size: 3vw;
    width: 20vw;
}

.social-tab-container {
    border-top: 0;
    border-bottom: 0;
    border-radius: 0 0 0 0;
    display: flex;
    font-size: .9vw;
    font-size: 1.5vh;
    height: auto;
    padding: 10px;
}

.user-search-container {
    width: auto;
}

.user-search {
    font-size: 5vw;
    padding: 0;
    text-align: center;
    width: 100%;
}

.social-list {
    height: auto;
}

.user-search-name-outer {
    font-size: 5vw;
}

.social-list-container {
    max-height: 20vh;
    width: 90vw;
}

.user-search-button-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

.profile-stats-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.user-search-button {
    background-color: #293241;
    font-size: 3vw;
    width: 50vw;
}

.scroll-top-button {
    background-color: #293241;
    font-size: 3vw;
    width: 100%;
    visibility: visible;
}

.all-movies-title {
    width: auto;
}

h2 {
    font-size: 2vw;
}

h4 {
    font-size: 2vw;
}

h5 {
    font-size: 1.5vw;
}

.delete-button {
    width: 10vw;
}
      
}